#  ---------------------------------------------------------------------------
#
#  Description:  This file holds all my BASH configurations and aliases
#
#  Sections:
#  1.  Environment Configuration
#  2.  Docker Development
#  3.  Reminders & Notes
#
#  ---------------------------------------------------------------------------

#   -------------------------------
#   1. ENVIRONMENT CONFIGURATION
#   -------------------------------

#   Set Paths
#   ------------------------------------------------------------
    export PATH="$PATH:/usr/local/bin/"
    export PATH="/usr/local/git/bin:/sw/bin/:/usr/local/bin:/usr/local/:/usr/local/sbin:/usr/local/mysql/bin:$PATH"

#   Rbenv
#   ------------------------------------------------------------
	eval "$(rbenv init -)"

#   Z
#   ------------------------------------------------------------
	. /usr/local/etc/profile.d/z.sh


#   ---------------------------------------
#   3. DOCKER DEVELOPMENT
#   ---------------------------------------

# Docker Compose
#   ------------------------------------------------------------
	alias dc="docker-compose"
	alias dcup="docker-compose up --no-recreate"

# Docker
#   ------------------------------------------------------------
	alias docps="docker ps -a"
	alias dochost="echo $DOCKER_HOST"

# Docker Machine
#   ------------------------------------------------------------
	alias dm="docker-machine"
	alias dmls="docker-machine ls"

	function dmenv {
		eval $(docker-machine env $1)
	}

#   ---------------------------------------
#   4. REMINDERS & NOTES
#   ---------------------------------------

#   remove_disk: spin down unneeded disk
#   ---------------------------------------
#   diskutil eject /dev/disk1s3

#   to change the password on an encrypted disk image:
#   ---------------------------------------
#   hdiutil chpass /path/to/the/diskimage

#   to mount a read-only disk image as read-write:
#   ---------------------------------------
#   hdiutil attach example.dmg -shadow /tmp/example.shadow -noverify

#   mounting a removable drive (of type msdos or hfs)
#   ---------------------------------------
#   mkdir /Volumes/Foo
#   ls /dev/disk*   to find out the device to use in the mount command)
#   mount -t msdos /dev/disk1s1 /Volumes/Foo
#   mount -t hfs /dev/disk1s1 /Volumes/Foo

#   to create a file of a given size: /usr/sbin/mkfile or /usr/bin/hdiutil
#   ---------------------------------------
#   e.g.: mkfile 10m 10MB.dat
#   e.g.: hdiutil create -size 10m 10MB.dmg
#   the above create files that are almost all zeros - if random bytes are desired
#   then use: ~/Dev/Perl/randBytes 1048576 > 10MB.dat

#   to count the number of files inside a directory
#   ---------------------------------------
#   ls -b1A | wc -l

#   installing eventmachine gem
#   ---------------------------------------
#   gem install eventmachine -v '1.0.8' -- --with-cppflags=-I/usr/local/opt/openssl/include

#   installing therubyracer gem
#   ---------------------------------------
#   gem uninstall libv8
#   brew install v8
#   gem install therubyracer

#   installing libv8 gem
#   ---------------------------------------
#   gem install libv8 -v '3.16.14.7' -- --with-system-v8

#   installing mysql2 gem with mysql@5.7
#   ---------------------------------------
#	Need to install XCode first
#   gem install mysql2 --source 'https://rubygems.org/' -- --with-ldflags=-L/usr/local/opt/openssl/lib --with-cppflags=-I/usr/local/opt/openssl/include
